.App {
  font-family: 'Gothic A1', sans-serif;
  background-color: #262626;
  color: #BABABA;
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

